<h1>🐝Qu33n B's Recipe Box🐝</h1>
{{request.user.is_staff}}
<ul>
    {% for item in data %}
        <li>
           <a href='/recipe/{{item.id}}'>{{ item.title }}</a> 
        </li>
        <br/>
    {% endfor %}
</ul>

<a href='/recipeadd/'>Click Here to add an amazing recipes!</a>
<br/>
<a href='/authoradd/'>Click here to add a recipe author!</a>
<br/>
<br/>
<button><a href='/signup/'>Sign Up Here!</a></button>
<button><a href='/login/'>Login</a></button>
<button><a href='/logout/'>Logout</a></button>